<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>
<hr>
<h3><i>Importing the data using Pandas library</i></h3>

In [1]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)

<b><i>We have to access First Table of the HTML page</i></b>

In [2]:
req_df = df_list[0]

In [3]:
type(req_df)

pandas.core.frame.DataFrame

<b><i>Checking the null value in database</i></b>

In [4]:
req_df.isnull().sum()

Postal Code      0
Borough          0
Neighbourhood    0
dtype: int64

In [5]:
req_df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
import numpy as np

<b><i>Converting the Not assigned Borough to NaN so that pandas DataFrame can identify it as NULL Value</i></b>

In [7]:
req_df['Borough'].replace('Not assigned',np.nan , inplace=True)

In [8]:
req_df.head()

  Postal Code           Borough              Neighbourhood
0         M1A               NaN               Not assigned
1         M2A               NaN               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<b><i>Dropping all the NULL value Row</i></b>

In [9]:
req_df.dropna(inplace=True)

In [10]:
req_df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<b><i>After Performing deletion index value was not in nice sequence like 0,1,2.. So bring it back into it 0,1,2,... Form</i></b>

In [11]:
req_df_1 = pd.DataFrame(req_df.values)

In [12]:
req_df_1.head()

     0                 1                                            2
0  M3A        North York                                    Parkwoods
1  M4A        North York                             Victoria Village
2  M5A  Downtown Toronto                    Regent Park, Harbourfront
3  M6A        North York             Lawrence Manor, Lawrence Heights
4  M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<b><i>By making new DataFrame Column name Change into 0,1,2 so we have to rename the column</i></b>

In [13]:
req_df_1.rename(columns={0:'PostalCode' , 1:'Borough' , 2:'Neighbourhood'} , inplace=True)

In [14]:
req_df_1.head(10)

  PostalCode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5        M9A         Etobicoke      Islington Avenue, Humber Valley Village
6        M1B       Scarborough                               Malvern, Rouge
7        M3B        North York                                    Don Mills
8        M4B         East York              Parkview Hill, Woodbine Gardens
9        M5B  Downtown Toronto                     Garden District, Ryerson

<b><i>At last Printing the Shape of required DataFrame</i></b>

In [15]:
req_df_1.shape

(103, 3)